@import url('https://fonts.googleapis.com/css?family=Papyrus+Fantasy');


* {
	box-sizing: border-box;
}



body {
	width: 100vw;
	height:100vh;
	/*margin: 0% 10%;*/
	/*background-image: url("paws.jpg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-size: 100vw;*/

}

#whole{
	width: 80%;
	margin:0% 10%;
	height: 100%;
}

#header {
	height: 9%;
    width: 100%;
    background-color: burlywood;
    text-align: center;
}


#input{
	background-image: url("puppy.jpg");
}
#whiteBox {
	border-left: solid;
    border-right: solid;
    height: 86%;
    background-color: white;
}

#bestFriend {
	font-family: 'Aladin', cursive;
    font-size: 5em;
    position: absolute;
    height: 9%;
    /* width: 42%; */
    /* left: 55%; */
    top: 0%;
    width: 80%;
}

/*#finder {
	font-family: fantasy;
    font-size: 6em;
    position: absolute;
    height: 10%;
    width: 24%;
    left: 63%;
    top: 17%;
}*/

[for=current-location] {
	font-size: 228%;
}

#local {
	height: 15%;
    /* border: solid; */
    padding: 2%;
    /*background-color: aliceblue;*/
}

#zipCode {
	width: 13%;
    line-height: 1;
}

#zipCode[type="text"] {
    font-size:200%;
}

#zipCode:hover{
	border: 1px solid #00bfff;
}

#zipCode::placeholder {
  font-size: 40%;
  font-style: italic;
  font-family: Helvetica;
}

#curentLocal {
	width: 30%;
}

[for=current-location] {
	font-family: Old Standard TT;
	font-size: 158%;
}

#locationSearch {
	text-align: center;
    
}


#locationInput {
	padding: 1%;
    text-align: center;
}

/*#locationInput:hover {
	border-color: blue;
}*/

#search {
	height: 29%;
	/*border: solid;*/
}

#dropdown {
	text-align: center;
    height: 100%;
    padding: 2%;
}


#petType {
	position: absolute;
    left: 12%;
    width: 15%;
    height: 6%;
}

#petType:hover{
	border: 1px solid #00bfff;
}

#petAge {
	position: absolute;
    left: 29%;
    width: 15%;
    height: 6%;
	/*width: 20.5%;
    margin: 2%;
    line-height: 6;*/
}

#petAge:hover{
	border: 1px solid #00bfff;
}

#petSize {
	position: absolute;
    left: 46%;
    width: 15%;
    height: 6%;
}

#petSize:hover{
	border: 1px solid #00bfff;
}


#petGender {
	position: absolute;
    left: 63%;
    width: 15%;
    height: 6%;
}

#petGender:hover{
	border: 1px solid #00bfff;
}

#petFinderSubmit {
	position: absolute;
    left: 80.5%;
    height: 6%;
    width: 7%;
}

#petFinderSubmit:hover{
	border: 1px solid #00bfff;
}

.output {
	height: 55%;
}

#map {
	width: 46%;
    height: 100%;
    border: solid;
    /* position: relative; */
    float: left;
    margin: 0 2%;
}

#results {
	overflow: scroll;
	width: 45%;
    height: 100%;
    border: solid;
    float: left;
    margin: 0 2%;
    padding: 2% 2% 0%;

}

.animalDiv {
	text-align: center;
    color: black;
    border: 1px solid;
    margin: 2%;
}

h2 {
	font-family: Nexa Bold,arial,helvetica,sans-serif;
    font-color: purple;
    font-color: purple;
    color: purple;
    font-weight: bold;
}

img.animal{
	height: 30%;
	width: 90%;
}

#footer {
	height: 5%;
    text-align: center;
    padding: 1.5%;
    background-color: aqua;
}